.nav{
    display: flex;
    justify-content: space-around;
    padding:20px 100px;
}

.navDiv{
    display: flex;
    gap: 15px;
}

.navTitle{
    padding: 5px;
    
}

.navTitle:hover{
    color: green;
    border-bottom: 3px solid green;
}